@import "@styles/colors.scss";

.ingredient-tile-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: $cinnamon;
  padding: 10px;
  width: 100%;
  max-width: 220px;

  a {
    width: 100%;
    text-decoration: none;

    h5.ingredient-tile-nameLatin,
    h6.ingredient-tile-namePolish,
    h6.ingredient-tile-nameEnglish {
      color: $chocolate;
    }

    h5.ingredient-tile-nameLatin {
      margin: 0 0 5px 0;
    }
  }
}
