@import "@styles/colors.scss";

.product-list-tile-component {
  :root {
    --tile-width: calc(25% - 20px);
  }

  margin: 10px;
  .product-list-tile-top {
    position: relative;

    .product-list-tile-img-wrapper {
      width: var(--tile-width);
      height: var(--tile-width);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;

      img.product-list-tile-img {
        width: 100%;
      }
    }

    .product-list-tile-rating {
      padding: 10px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0.6;
      position: absolute;
      top: var(--tile-width);
      width: calc(100% - 20px);
      transition: 0.5s;

      h4.product-list-tile-reviews {
        font-size: 10px;
        margin: 0;
      }

      .product-list-tile-starts-box {
        svg {
          font-size: 18px;
        }
      }
    }
  }

  .product-list-tile-info {
    background-color: $apricot;
    padding: 15px;
    position: relative;
    z-index: 100;

    h4.product-list-tile-name {
      color: $brick;
      margin: 0;
      font-size: 12px;
    }
  }
}
