.filter-products-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .multiple-select-input-component {
    width: 19%;
    margin: 3px 5px;
  }

  .filter-products-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 0 0;
    width: 100%;

    button {
      margin: 0 5px;
    }
  }
}
