@import "@styles/colors.scss";

.filters-products-component {
  width: 100%;
  position: relative;

  .filters-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    margin: 0 0 15px 0;

    .multiple-select-input-component {
      margin: 3px 5px;

      .MuiInputLabel-root {
        font-size: 14px;
      }
    }
  }

  .toolbar-chips {
    border-top: 1px solid $gray;
    padding: 15px 5px 0 5px;
    width: 100%;
  }
}

.MuiMenu-list {
  .MuiCheckbox-root {
    padding: 0 6px;
  }

  .MuiTypography-root {
    font-size: 14px;
  }
}
