@import "@styles/colors.scss";

.main-menu-component {
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  box-sizing: border-box;
  flex-shrink: 0;

  svg,
  a {
    color: $white;
  }

  .MuiPaper-root {
    background-color: $purple;
    overflow-x: hidden;
  }

  .main-menu-header {
    display: flex;
    justify-content: center;
    margin: 23px 0;
  }

  .main-menu-list {
    a {
      text-decoration: none;
    }
  }
}
