$apricot: #dbb9a8;
$beige: #e2dddb;
$black: #000;
$brick: #a74713;
$chocolate: #3e332f;
$cinnamon: #c9b18f;
$gray: #c2c2c2;
$green: #387323;
$green_dark: #124500;
$purple: #401b34;
$red: #ff0000;
$yellow: #e3b600;
$white: #fff;
