$apricot: #dbb9a8;
$beige: #ebebeb;
$black: #000;
$blue: #1976d2;
$blue_light: #f1f1f1;
$brick: #a74713;
$brown_gray: #555;
$chocolate: #3e332f;
$coffee: #888;
$cinnamon: #c9b18f;
$gray: #c2c2c2;
$green: #387323;
$green_dark: #124500;
$purple: #401b34;
$red: #ff0000;
$yellow: #e3b600;
$white: #fff;
