@import "@styles/colors.scss";

.products-list-page {
  .products-list-toolbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .toolbar-top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray;
      width: 100%;

      .toolbar-search-add {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        margin: 0 5px 0 0;
        width: 50%;
      }

      .label-icon-button-component {
        margin: 0 0 0 10px;
      }
    }

    .toolbar-filters {
      margin: 15px 0 0 0;
      width: 100%;
    }
  }
}
