.products-list-component {
  margin: 60px auto;
  width: 80%;

  .products-list-tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}
