# Ignore node_modules folder
node_modules

# Ignore log files
*.log

# Ignore development files
.DS_Store
.env

# Ignore build artifacts
dist
build

# Ignore package lock files
package-lock.json
yarn.lock