.about-page {
  img {
    margin: 0 auto;
    display: block;
    width: 40%;
    border-radius: 10px;
  }

  h3,
  h4 {
    margin: 0;
    text-align: center;
  }

  h3 {
    padding: 20px 0 10px 0;
  }
}
