@import "@styles/colors.scss";

@keyframes slideBottom {
  0% {
    top: calc(var(--tile-width) - 40px);
  }
  100% {
    top: var(--tile-width);
  }
}

@keyframes slideTop {
  0% {
    top: var(--tile-width);
  }
  100% {
    top: calc(var(--tile-width) - 40px);
  }
}

.product-tile-component {
  margin: 10px;
  width: 100%;
  max-width: 220px;

  :root {
    --tile-width: calc(100% - 20px);
  }

  a {
    width: 100%;
    text-decoration: none;

    .product-tile-top {
      position: relative;

      .product-tile-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: var(--tile-width);
        height: var(--tile-width);
        overflow: hidden;

        img.product-tile-img {
          width: 100%;
        }
      }

      .product-tile-rating {
        display: flex;
        position: absolute;
        top: calc(var(--tile-width) - 40px);
        justify-content: space-between;
        align-items: center;
        opacity: 0.8;
        background-color: $white;
        padding: 10px;
        width: calc(100% - 20px);

        @media (min-width: 768px) {
          top: var(--tile-width);
          animation: 0.5s ease-in-out forwards slideBottom;
        }

        .product-tile-starts-box {
          svg {
            color: $yellow;
            font-size: 20px;
          }
        }
      }
    }

    .product-tile-info {
      position: relative;
      z-index: 100;
      background-color: $apricot;
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h5.product-tile-name {
        display: inline;
        color: $brick;
      }
    }

    @media (min-width: 768px) {
      &:hover .product-tile-rating {
        animation: 0.5s ease-in-out forwards slideTop;
      }
    }
  }
}
