@import "@styles/colors.scss";

.list-toolbar-component {
  .list-toolbar-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    padding: 0 0 8px 0;

    .list-toolbar-filter-sort {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      @media (min-width: 768px) {
        margin: 0;
      }

      .label-icon-button-component {
        margin-right: 8px;
      }
    }

    .list-toolbar-search-add {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: fit-content;
      }

      .label-button-component {
        margin: 8px 0 8px 8px;

        @media (min-width: 768px) {
          margin: 0 0 0 8px;
        }
      }
    }
  }

  .list-toolbar-chips {
    margin: 20px 0 0 0;
  }
}
